@model List<AppData.Models.MauSac>

@{
    ViewData["Title"] = "Thêm ảnh";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Then, include jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<h1>Thêm ảnh chi tiết sản phẩm</h1>

<form id="myForm" enctype="multipart/form-data" action="/Admin/AddAnhToSanPham" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Chọn ảnh
                </th>
                <th>
                    Tên màu
                </th>
                <th>
                    Mã Màu
                </th>
            </tr>
        </thead>
        <tbody>
            @for(var i=0;i<Model.Count;i++)
            {
                <tr>
                    <td>
                        <input type="file" name="images" />
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem=>Model[i].Ten)
                    </td>
                    <td>
                        <input type="color" value="@Model[i].Ma" style="border:none;width:27px;height:25px" readonly name="maMaus">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        

        var form = document.getElementById("myForm");
        if (form) {
           

            form.addEventListener("submit", function (event) {
               
                event.preventDefault();

                
                fetch(form.action, {
                    method: form.method,
                    body: new FormData(form)
                })
                    .then(response => {
                      
                        if (response.ok) {
                           
                            window.location.href = "/Admin/ProductManager";
                        } else {
                            
                            console.error("Form submission failed:", response.statusText);
                        }
                    })
                    .catch(error => {
                     
                        console.error("Error submitting form:", error);
                    });
            });
        } else {
            console.error("Form element not found");
        }
    });
</script>